<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileagent.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/agent"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SERVICES -->
        <service
            android:name=".services.event_listeners.ReceiverService"
            android:enabled="true" />
<!--         <service -->
<!--             android:name="com.mobileagent.app.services.event_listeners.NotificationLR" -->
<!--             android:label="NotificationLR" -->
<!--             android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.service.notification.NotificationListenerService" /> -->
<!--             </intent-filter> -->
<!--         </service> -->

        <activity
            android:name=".PhoneCallSettings"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:label="@string/title_activity_phone_call_settings" >
        </activity>
        <activity
            android:name=".MessageSettings"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:label="@string/title_activity_message_settings" >
        </activity>
    </application>

</manifest>
